<html>

    <!------------------------------------------------ Head start ---------------------------------------------------------------------->
    <head>
          <!-- css -->
            <title>SamiRoom | פרטי דירה</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Oswald:400,700"> 
            <link rel="stylesheet" href="fonts/icomoon/style.css">
            <link rel="stylesheet" href="css/jquery-ui.css">
            <link rel="stylesheet" href="css/bootstrap.min.css">
            <link rel="stylesheet" href="css/magnific-popup.css">
            <link rel="stylesheet" href="css/owl.carousel.min.css">
            <link rel="stylesheet" href="css/owl.theme.default.min.css">
            <link rel="stylesheet" href="css/bootstrap-datepicker.css">
            <link rel="stylesheet" href="css/mediaelementplayer.css">
            <link rel="stylesheet" href="css/animate.css">
            <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
            <link rel="stylesheet" href="css/fl-bigmug-line.css">
            <link rel="stylesheet" href="css/aos.css">
            <link rel="stylesheet" href="css/style.css">
            <link rel="stylesheet" href="css/mainImageHover.css">

            <!-- The core Firebase JS SDK is always required and must be listed first -->
            <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
            <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-firestore.js"></script>

            <!--------------------------------- Icon -------------------------------------------------->
            <link rel="icon" href="images/Logos/house.png" type="image/icon type">

    </head>

    <!--------------------------------------------- Head end ---------------------------------------------------------------------->


    <!--------------------------------------------- Body start------------------------------------------------------------------------>
    
    <!-- get number from previous page - apartments -->
    <body onload="takeApartImages(1)">            

      <!------------------------  site nevigations   ------------------------->

      <%- include('views/navPanel'); %>

      <!------------------------  site nevigations end ------------------------->

      <!-- Picture & title of the page -->
        
    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url('images/Titles/students_apart1.jpg');"
    data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7 text-center" data-aos="fade-up" data-aos-delay="400">
          <h1 class="text-white">פרטי דירה</h1>
        </div>
      </div>
    </div>
  </div>

  <!------------------------------------------------ Code -------------------------------------------------->

  <div class="container">
      <div class="featured-property-half d-flex">
        <div class="image" style="background-image: url('/images/Apartments/9000000/apart1.jpg')"></div>
        <div class="text">
          <h2 style="text-align:right;">
             <%=address %>, <%=city %>
           </h2>
          <br></br>
          <p style="text-align:right;" id = "description" class= "mb-5"></p>
          <ul class="property-list-details mb-5">
            <li style="text-align:right;" class="text-black" id="roomsNum">מספר חדרים : <%=numRoom %>
               <strong class="text-black"></strong></li>
            <li style="text-align:right;" class="text-black" id="sizeApart"><%=squereMeter%> X <%=squereMeter%> : גודל דירה 
               <strong class="text-black"></strong></li>
            <li id ="rent" style="text-align:right;" class="text-black"> ₪  <%=pricePerMonth%>  : מחיר 
              <strong class="text-black"></strong></li>
            <li id ="enterDate" style="text-align:right;" class="text-black"> <%=startDate.toDate().toDateString() %>  :תאריך כניסה
              <strong></strong></li>
            <li id ="enterDate" style="text-align:right;" class="text-black">:בעל דירה ופרטי קשר<strong></strong></li>
            <% if(isRent == true){ %>
              <li id ="isRent" style="text-align:right;color:red;"> !סטטוס: הדירה הושכרה<strong></strong></li>
            <% } else{ %>  
              <li id ="isRent" style="text-align:right;color:green;"><b> !סטטוס: הדירה זמינה</b><strong></strong></li>
           <% } %>
          </ul>
          <p style="text-align:right;"><a href="/payment"  class="btn btn-primary px-4 py-3">להשכרה</a>
          
            <% if(isLogged || isLandLord) { %>
              <a href="/editApart" class="btn btn-primary px-4 py-3" style="text-align:right;">עריכה</a></p>
            <% } %>
              
          </div>
          
      </div>
    </div>

    <div dir="rtl" class="site-section">
      <div dir="rtl" class="container">
        <div dir="rtl" class="row">
          <h3>
            אטרקציות בקרבת מקום:
            <% if(isLogged && isLandLord) { %>
              <a href="/addAttraction" class="btn btn-primary px-4 py-3" style="text-align:right;">אטרקציה חדשה</a></p>
            <% } %>
          </h3>
          <form action="/details" method="post" style="position: relative; margin: auto;">
            <ul>
              <% for(var key in allAtters) {  %>
                <div class="img_wrap">
                  <a href='/details'><input type="image" class="img_wrap" name='<%=allAtters[key][6] %>' 
                    src='<%=allAtters[key][3]%>' width="250" height="150" /></a>
                  <div class="imgText"> <h4><%=allAtters[key][6]%></h4>
                    <h5>לפני הנחה: <%=allAtters[key][4]%> ₪</h5>
                    <h5>אחרי הנחה: <%=allAtters[key][5]%> ₪</h5>

                  </div>
                </div>
              <% } %>
            </ul>
            
          </form>
        </div>
      </div>
    </div>
  <footer class="site-footer">         
            <div class="row pt-5 mt-5 text-center">
              <div class="col-md-12">
                <p>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;<script data-cfasync="false"></script>
                  <script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="icon-heart text-danger" 
                  aria-hidden="true"></i> by webTeam1</a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
              </div>
            </div>
          </footer>
      
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/db-func.js"></script>
        <script src="js/jquery-migrate-3.0.1.min.js"></script>
        <script src="js/jquery-ui.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/mediaelement-and-player.min.js"></script>
        <script src="js/jquery.stellar.min.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/bootstrap-datepicker.min.js"></script>
        <script src="js/aos.js"></script>
        <script src="js/circleaudioplayer.js"></script>
        <script src="js/main.js"></script>
    
  </body>
</html>